<h1><%= @cuisine.name %></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Restaurant</th>
      <th scope="col">Total Reviews</th>
      <th scope="col">Average Rating (out of 5 stars)</th>
      <th scope="col">Neighborhood</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-secondary">
    <% @cuisine.restaurants.sort_by(&:name).each do |restaurant| %>
      <td><%= link_to restaurant.name, restaurant_path(restaurant) %></td>
      <td><%= restaurant.reviews.count %></td>
      <td><%= restaurant.average_rating %></td>
      <td><%= restaurant.neighborhood.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
