<div class="jumbotron">
  <h1 class="display-3">NYC Restaurant Reviewer</h1>
  <hr class="my-4">
  <p>User Reviews of New York City Restaurants</p>
  <p class="lead">
    <% if !logged_in? %>
      <%= link_to "Log In", login_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %>
      <%= link_to 'Log in with Facebook!', '/auth/facebook', class: "btn btn-primary btn-lg" %>
    <% else %>
      <%= link_to "My Reviews", user_reviews_path(current_user), class: "btn btn-primary btn-lg" %>
      <%= link_to "Highest Rated Restaurants", highest_rated_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Lowest Rated Restaurants", lowest_rated_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Most Reviewed Restaurants", popular_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </p>
</div>
