<h1><%= @restaurant.name %>
<% if !Review.exists?(user_id: current_user.id, restaurant_id: @restaurant.id) %>
  <%= link_to "Write a Review", new_user_review_path(:user_id => current_user.id, :restaurant_id => @restaurant.id), class: "btn btn-outline-info" %><br><br><br>
<% end %></h1><br>
<h4>Cuisine: <%= @restaurant.cuisine.name %></h4>
<h4>Address: <%= @restaurant.address %></h4>
<h4>Neighborhood: <%= @restaurant.neighborhood.name %></h4>
<br><br>
<br>
<h4>Total Reviews: <%= @restaurant.reviews.count %><br></h4>
<h4>Average Rating: <%= @restaurant.average_rating %><br></h4>
<br><br><br>

<% @restaurant.reviews.each do |review| %>
  <strong><h3><p class="lead"><%= review.user.name %></p></h3></strong>
  <p class="lead">Rating: <%= review.rating %>/5</p>
  <p class="lead"><%= review.comment %></p>
  <br><br><br><br><br>
<% end %>
