<div id="title" class="title">
  <% if @user == current_user %>
    <h1 class="reviewRestaurant">My Restaurant Reviews</h1><br>
  <% else %>
    <h1 class="reviewRestaurant"><%= @user.name %>'s Restaurant Reviews</h1><br>
  <% end %>
</div>

<div class="buttons">
  <% if @user == current_user %>
    <button type="button" class="addReview btn btn-outline-secondary"><%= link_to "Add a Review", new_user_review_url(@user) %></button>
  <% end %>
</div>

<br><br><br>

<div id="review">
  <% @reviews.each do |review| %>
    <% if @user == current_user %>
    <p class="reviewList lead"><%= link_to review.restaurant.name, user_review_path(@user, review) %><br>Rating:<%= review.rating %>/5<br><%= review.comment %><br></p>
    <% else %>
    <strong><h3><p class="reviewRestaurant lead"><%= review.restaurant.name %></p></h3></strong>
    <p class="reviewRating lead">Rating: <%= review.rating %>/5<br><%= review.comment %></p>
    <br><br>
    <% end %>
  <% end %>
</div>
